/framePreset/.settings/org.eclipse.core.resources.prefs
/framePreset/.settings/launch/framePreset.launch
/framePreset/.settings/com.powerflasher.fdt.core.prefs
/framePreset/.settings/com.powerflasher.fdt.classpath
/framePreset/.project
/framePreset/src/com/
/framePreset/assets/